
body {
    font-family: Cochin;
    font-size: 1.3em;
    background-color: #a2ba91;
    padding: 20px;
    line-height: 1.6;
}

.Title {
    text-align: center;
}
header, footer {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 0.6em;
    margin: 1em;
}
.main_section {
    background-color: #fff;
    border-radius: 10px;
    padding: 0.6em;
    margin: 1em;
}

nav {
    background-color: #e6e6e6; /* Light grey background */
    border-radius: 10px; /* Consistency with other elements */
    padding: 10px 0.6em;
    border-color:#000;
    margin: 1em 1em; /* Ensure it doesn't touch other elements vertically */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    position: relative;
    display: inline-block; /* Changed from inline to inline-block */
    margin: 0 0;
}
nav ul li a {
    color: #0056b3; /* A more vibrant blue */
    padding: 8px 10px; /* Increased padding */
    text-decoration: none; /* Removes underline */
    /*font-family: Arial, sans-serif; /* Example of a different font */
    font-weight: bold; /* Makes the font bold */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px;
    z-index: 1;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
    margin-right: 0; /* Override the margin for dropdown items */
}

.dropdown li a {
    display: block; /* Makes the link fill the entire space of the li */
    color: #000; /* Text color */
    padding: 10px 0; /* Add some padding */
    text-decoration: none; /* No underline */
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #a2ba92;
    width: 20px;
    text-align: left;
    margin-left: -15px;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #a2ba92;
color: #fff;
border-radius: 6px;
padding: 5px 5px;
position: absolute;
z-index: 1;
bottom: 100%;
left: 50%;
margin-left: -60px;
opacity: 0;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}
