
body {
    font-family: Cochin;
    font-size: 1.3em;
    background-color: #a2ba91;
    padding: 20px;
    line-height: 1.6;
}

.title {
    text-align: center;
}
header, footer, .main_section {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 0.6em;
    margin: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    position: relative;
    display: inline-block; /* Changed from inline to inline-block */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px;
    z-index: 1;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
    margin-right: 0; /* Override the margin for dropdown items */
}

.dropdown li a {
    display: block; /* Makes the link fill the entire space of the li */
    color: #000; /* Text color */
    padding: 10px 0; /* Add some padding */
    text-decoration: none; /* No underline */
}
